* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}

.main-header.style-four{
  position: relative;
}

.main-header.style-four .main-menu .navigation > li > a{
  color: #222;
}

.main-header.style-four .main-menu .navigation > li.current > a, 
.main-header.style-four .main-menu .navigation > li:hover > a {

}

.main-header.style-four .main-menu .navigation > li > ul > li > a:hover {
  
}

.main-header.style-four .main-menu .navigation > li > ul > li > ul > li > a:hover {
    
}

.main-header.style-four .main-menu .navigation li.dropdown .megamenu li a:hover {
    
}

.main-header.style-four .outer-box{
  position: relative;
}

.main-header.style-four .main-menu .navigation > li{
  padding: 40px 0px;
  margin: 0px 10px;
}

.main-header.style-four .outer-box .logo-box{
  padding: 29px 0px;
}

.main-header.style-four .header-lower .menu-right-content .search-btn button{
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #222;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
  transition: all 500ms ease;
}

.main-header.style-four .header-lower .menu-right-content .theme-btn{
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 30px;
}

.main-header.style-four .header-lower .menu-right-content .search-btn{
  float: left;
  margin: 11px 40px 0px 0px;
}

.main-header.style-four .header-lower .menu-right-content{
  margin-top: 30px;
  margin-left: 0px;
  padding-left: 26px;
}

.main-header .header-lower .menu-right-content .search-btn,
.main-header .header-lower .menu-right-content .nav-btn,
.main-header .header-lower .menu-right-content .btn-box{
  position: relative;
  display: inline-block;
}

.main-header .header-lower .menu-right-content{
  position: relative;
  display: block;
  float: left;
  margin-top: 35px;
  padding-left: 30px;
  margin-left: 38px;
}

.main-header .header-lower .outer-box{
  position: relative;
}

.auto-container{
  position:static;
  max-width:1170px;
  padding:0px 15px;
  margin:0 auto;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

figure{
  margin: 0px;
}

ul,li{
  list-style:none;
  padding:0px;
  margin:0px; 
}

.mobile-nav-toggler {
  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  color: #3786ff;
  display: none;
}

.mobile-nav-toggler .icon-bar{
  position: relative;
  height: 2px;
  width: 30px;
  display: block;
  margin-bottom: 5px;
  background-color: #3b3b3b;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.mobile-nav-toggler .icon-bar:last-child{
  margin-bottom: 0px;
}

.navbar-toggler{
  border:none !important;
}

.setting{
  margin-right: 1rem;
}

/** main-menu **/

.menu{
  max-width:1170px;
}

.navbar .navigation{
  margin:0px;
  align-items: center;
  margin-left:1.5rem;
}

.navbar .navigation > li{
  position:inherit;
  float:left;
  z-index:2;
  padding:40px 0px 30px 0px;
  margin: 0px 10px;
  -webkit-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
}

.navbar .navigation > li:last-child{
  margin-right:0px !important;
}

.navbar .navigation > li:first-child{
  margin-left: 0px !important;
}

.navbar .navigation > li > a{
  position:relative;
  display:block;
  text-align:center;
  font-size:14.8px;
  line-height:30px;
  font-weight:700;
  opacity:1;
  font-family: 'Arimo', sans-serif;
  color:#695959;
  text-transform:uppercase;
  padding-right: 15px;
  z-index:1;
  -webkit-transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}

.navbar .navigation > li.dropdown.current > a:after,
.navbar .navigation > li.dropdown:hover > a:after{

}

.navbar .navigation > li.current > a,
.navbar .navigation > li:hover > a{
  
}

.navbar .navigation > li > ul,
.navbar .navigation > li > .megamenu{
  position:absolute;
  left: inherit;
  top:100%;
  width:250px;
  z-index:100;
  display:none;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -moz-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
  border-radius: 5px;
}

.navbar .navigation > li > ul.from-right{
  left:auto;
  right:0px;  
}

.navbar .navigation > li > ul > li{
  position:relative;
  width:100%;
  padding: 11px 30px;
  border-bottom: 1px solid #eeeeee;
}

.navbar .navigation > li > ul > li:last-child{
  border-bottom: none;
}

.navbar .navigation > li > ul > li:last-child{
  border-bottom:none; 
}

.navbar .navigation > li > ul > li > a{
  position:relative;
  display:block;
  padding:6px 0px;
  line-height:24px;
  font-weight:400;
  font-size:15px;
  text-transform:capitalize;
  color:#222;
  text-align: left;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.navbar .navigation > li > ul > li > a:hover{
  
}

.navbar .navigation > li > ul > li.dropdown > a:after{
  font-family: 'Font Awesome 5 Free';
  content: "\f105";
  position:absolute;
  right:20px;
  top:6px;
  display:block;
  line-height:24px;
  font-size:16px;
  font-weight:800;
  text-align:center;
  z-index:5;  
}

.navbar .navigation > li > ul > li > ul{
  position:absolute;
  right:100%;
  top:-2px;
  width:230px;
  z-index:100;
  display:none;
  padding: 0px 0px;
  background-color: #fff;
  -moz-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
}

.navbar .navigation > li > ul > li > ul.from-right{
  left:auto;
  right:0px;  
}

.navbar .navigation > li > ul > li > ul > li{
  position:relative;
  width:100%;
  padding: 11px 30px;
  border-bottom: 1px solid #eee;
}

.navbar .navigation > li > ul > li > ul > li:last-child{
  border-bottom:none; 
}

.navbar .navigation > li > ul > li > ul > li:last-child{
  border-bottom:none; 
}

.navbar .navigation > li > ul > li > ul > li > a{
  position:relative;
  display:block;
  font-size: 15px;
  padding:6px 0px;
  line-height:24px;
  font-weight:400;
  font-size:15px;
  text-transform:capitalize;
  color:#222;
  text-align: left;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.navbar .navigation > li > ul > li > ul > li > a:hover{
  
}

.navbar .navigation > li > ul > li > ul > li.dropdown > a:after{
  font-family: 'Font Awesome 5 Free';
  content: "\f105";
  position:absolute;
  right:20px;
  top:12px;
  display:block;
  line-height:24px;
  font-size:16px;
  font-weight:900;
  z-index:5;  
}

.navbar .navigation > li.dropdown:hover > ul,
.navbar .navigation > li.dropdown:hover > .megamenu{
  visibility:visible;
  opacity:1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.navbar .navigation li > ul > li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease; 
}

.navbar .navigation li.dropdown .dropdown-btn{
  position:absolute;
  right:-32px;
  top:66px;
  width:34px;
  height:30px;
  text-align:center;
  font-size:18px;
  line-height:26px;
  color:#3b3b3b;
  cursor:pointer;
  display: none;
  z-index:5;
  transition: all 500ms ease;
}

.navbar .navigation li.current.dropdown .dropdown-btn,
.navbar .navigation li:hover .dropdown-btn{
  
}

.navbar .navigation li.dropdown ul li.dropdown .dropdown-btn{
  display: none;
}

.sticky-header{
  position:fixed;
  opacity:0;
  visibility:hidden;
  background: #fff;
  left:0px;
  top:0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width:100%;
  z-index:0;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

/** sticky-header **/

.sticky-header .main-menu .navigation > li{
  margin: 0px 30px !important;
}

.sticky-header .main-menu .navigation > li > a{
  padding: 17.5px 0px !important;
}

.sticky-header .main-menu .navigation > li > a{
  color: #222 !important;
}

.sticky-header .logo-box{
  position: relative;
  float: left;
  padding: 12.5px 0px !important;
}

.sticky-header .menu-area{
  float: right;
}

.sticky-header .outer-box{
  position: relative;
}

.sticky-header .main-menu .navigation > li > a:before{
  display: none;
}

.sticky-header .navigation li.dropdown .dropdown-btn{
  display: none !important;
}

.sticky-header .main-menu .navigation > li{
  padding: 0px !important;
  border: none !important;
}

.sticky-header .main-menu .navigation > li:before{
  display: none;
}

.mobile-menu{
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  padding-right:30px;
  max-width:100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
}

.mobile-menu .navbar-collapse{
  display:block !important; 
}

.mobile-menu .nav-logo{
  position:relative;
  padding:30px 25px;
  text-align:left;  
}

.mobile-menu-visible{
  overflow: hidden;
}

.mobile-menu-visible .mobile-menu{
  opacity: 1;
  visibility: visible;
}

.mobile-menu .menu-backdrop{
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background:#000;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
  transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
}

.mobile-menu-visible .mobile-menu .menu-backdrop{
  opacity: 0.70;
  visibility: visible;
  -webkit-transition:all 0.7s ease;
  -moz-transition:all 0.7s ease;
  -ms-transition:all 0.7s ease;
  -o-transition:all 0.7s ease;
  transition:all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .menu-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: #202020;
  padding: 0px 0px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
}

.mobile-menu-visible .mobile-menu .menu-box{
  opacity: 1;
  visibility: visible;
  -webkit-transition:all 0.7s ease;
  -moz-transition:all 0.7s ease;
  -ms-transition:all 0.7s ease;
  -o-transition:all 0.7s ease;
  transition:all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .close-btn{
  position: absolute;
  right: 25px;
  top: 10px;
  line-height: 30px;
  width: 24px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
  -webkit-transition:all 0.9s ease;
  -moz-transition:all 0.9s ease;
  -ms-transition:all 0.9s ease;
  -o-transition:all 0.9s ease;
  transition:all 0.9s ease;
}

.mobile-menu-visible .mobile-menu .close-btn{
  -webkit-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}

.mobile-menu .close-btn:hover{
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}

.mobile-menu .navigation{
  position: relative;
  display: block;
  width: 100%;
  float: none;
}

.mobile-menu .navigation li{
  position: relative;
  display: block;
  border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > ul > li:first-child{
  border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > a{
  position: relative;
  display: block;
  line-height: 24px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .navigation li ul li > a{
  font-size: 16px;
  margin-left: 20px;
  text-transform: capitalize;
}

.mobile-menu .navigation li > a:before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:0;
  border-left:5px solid #fff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .navigation li.current > a:before{
  height:100%;
}

.mobile-menu .navigation li.dropdown .dropdown-btn{
  position:absolute;
  right:6px;
  top:6px;
  width:32px;
  height:32px;
  text-align:center;
  font-size:16px;
  line-height:32px;
  color:#ffffff;
  background:rgba(255,255,255,0.10);
  cursor:pointer;
  border-radius:2px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
  z-index:5;
}

.mobile-menu .navigation li.dropdown .dropdown-btn.open{
  background:#fff; 
  color: #3b3b3b;
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);  
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul,
.mobile-menu .navigation > li.dropdown > .megamenu{
  display: none;
}

.mobile-menu .social-links{
  position:relative;
  padding:30px 25px;
}

.mobile-menu .social-links li{
  position:relative;
  display:inline-block;
  margin:0px 10px 10px;
}

.mobile-menu .social-links li a{
  position:relative;
  line-height:32px;
  font-size:16px;
  color:#ffffff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .social-links li a:hover{
  
}

div#mCSB_1_container{
  top: 0px !important;
}

.mobile-menu .contact-info {
  position: relative;
  padding: 80px 30px 20px 30px;
}

.mobile-menu .contact-info h4 {
  position: relative;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.mobile-menu .contact-info ul li {
  position: relative;
  display: block;
  font-size: 15px;
  color: rgba(255,255,255,0.80);
  margin-bottom: 3px;
}

.mobile-menu .contact-info ul li a{
  color: rgba(255,255,255,0.80);
}

.mobile-menu .contact-info ul li a:hover{
  
}

.mobile-menu .contact-info ul li:last-child{
  margin-bottom: 0px;
}

.text-wallet{
  color: #dee3e4 !important;
}

ul .navigation{
  text-transform: uppercase;
}

/* Preloader */

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/icons/preloader.png);
}

.preloader.style-two{
  background-image: url(../images/icons/preloader-2.png);
}

.preloader.style-three{
  background-image: url(../images/icons/preloader-3.png);
}

.preloader.style-four{
  background-image: url(../images/icons/preloader-4.png);
}

.preloader.style-five{
  background-image: url(../images/icons/preloader-5.png);
}

.preloader-close{
  position: fixed;
  z-index: 999999;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  right: 0;
  bottom: 0;
  font-weight: 600;
}

.preloader.style-two .preloader-close{

}

.preloader.style-three .preloader-close{
  
}

.preloader.style-four .preloader-close{
  
}

.preloader.style-five .preloader-close{
  
}

.loader-wrap {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

.loader-wrap .layer-one {
  position: absolute;
  left: 0%;
  top: 0;
  width: 33.3333%;
  height: 100%;
  overflow: hidden;
}

.loader-wrap .layer-two {
  position: absolute;
  left: 33.3333%;
  top: 0;
  width: 33.3333%;
  height: 100%;
  overflow: hidden;
}

.loader-wrap .layer-three {
  position: absolute;
  left: 66.6666%;
  top: 0;
  width: 33.3333%;
  height: 100%;
  overflow: hidden;
}

.loader-wrap .layer .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222;
}